.section {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 100%;
}

.nav {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-between;

  width: 100%;
}
